@import "slider.css";
@import "hamburger.css";

html{
    scroll-behavior: smooth;
}


body{
    margin:0;
    background: #fff2e6;
    font-family: 'Lato', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
    text-align: center;
}

/*Container for the header*/
.header{
    width: 100%;
    height: calc(2vh + 2vw);
    background-color: #424242;
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
}

.headeroptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headeroptions li {
    font-size: 15px;
    white-space: nowrap;
    padding: 1.5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.headeroptions li:hover{
    background-color: #696969;
}

.headerimagediv{
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#headerlogo{
    height: calc(1.4vh + 1.4vw);
    width: calc(5vh + 3vw);
}

.header ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.header ul li{
    position: relative;
}

.header a{
    text-decoration: none;
    color: #eeeeee;
}

.aux-flex{
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/**/
.introduction_div{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.introduction_div img{
    width: 100%;
    height: 100%;
}

.section_title{
    margin: 0;
    font-family: 'Lato';
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 600;

}


#whowearediv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.1s;
    background-color: #fff;
    color: #424242;
}

#whowearediv p{
    max-width: 1050px;
    font-family: 'Lato';
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
}
/**/

.content-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    font-family: 'Lato';
    color: #424242;
}

.contenedor{
    background-color: #fff;
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}


/*Project section*/
.grid_container{
    column-count: 3;
}


.card{
    display: inline-block;
    overflow: hidden;
    border-radius: 12px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 15px;
    background: #fff;
    /*-webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
    width: auto;
}

.project{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.card img{
    width: 100%;
    max-height: 500px;
    border-radius: 8px;
}

.project .title{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

.project-description{
    font-size: 20px;
    font-weight: 400;
}


.video-responsive{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.video-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Facilities*/
.facility{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
}

.facility-title{
    font-weight: 500;
    font-size: 23px;
    margin: 0;
    padding: 0;
}

.facility-description{
    margin-block-start: 0.5em;
    font-size: 20px;
    font-weight: 400;
}


/*Prizes section*/


.prizes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.prize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
}


.prize_image{
    width: 100%;
    height: auto;
}
.prize_title{
    font-weight: 500;
    font-size: 23px;
    margin: 0;
    padding: 0;
}
.prize_date{
    font-weight: 500;
    font-size: 21px;
    margin: 0;
    padding: 0;

}
.prize_description{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}
/*Workshop section*/

.workshops{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    align-items: center;
    justify-content: center;
}


.workshop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    max-height: 300px;
}

.workshop-title{
    font-weight: 500;
}

.workshop-icons{
    width: 125px;
    height: 125px;
}

/*Contact section*/
.contact_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #424242;
    color: #eeeeee;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.1s;
}

.contact_div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.social_media{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15px;
}

.contact{
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

.contact_element{
    margin: 0;
    font-weight: 500;
}

.socialicons{
    width: 25px;
    height:25px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#contact_form_div{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 300px;
    margin-left: 15px;
}

#contact_form_div input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 2px;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 400;
    color: #424242;
    font-size: 15px;
}
#contact_form_div textarea{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin: 2px;
    resize: none;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 400;
    color: #424242;
    font-size: 15px;
}

#contact_form_div button{
    height: 25px;
    border-radius: 5px;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 400;
    color: #424242;
    font-size: 15px;
}


/*Media Queries*/

@media (max-width: 1050px) {
    .header{
        height: calc(3vh + 3vw);
    }
    #headerlogo{
        height: calc(2vh + 2vw);
        width: calc(8vh + 4vw);
    }
    .header .hamburger{
        visibility: visible;
    }
    .headeroptions{
        position: absolute;
        top: calc(3vh + 3vw);
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        background-color: #505050;
        transition: 0.5s;
    }
    .headeroptions li{
        width: 100%;
        text-align: center;

    }
    .headeroptions li a{
        font-size: calc(1vh + 1vw);
        display: block;
    }
    .hamburger, .toggler{
        visibility: visible;
    }
    #whowearediv p{
        font-size: calc(0.9vh + 0.9vw);
    }

    .section_title{
        font-size: calc(1vh + 1vw);
    }
    .project-description{
        font-size: calc(0.7vh + 0.7vw);
    }

    .slidediv img{
        max-height: 50vh;
    }

    .grid_container{
        column-count: 2;
    }
    .contenedor{
        width: 100%;
    }
    .introduction_div{
        height: auto;
    }

    .section_title{
        font-size: calc(1.2vh + 1.2vw);
    }

    #whowearediv p{
        font-size: calc(1.05vh + 1.05vw);
        margin-left: 15px;
        margin-right: 15px;
    }

    .project .title{
        font-size: calc(1.1vh + 1.1vw);
        margin-top: 0.5vh ;
    }
    .project-description{
        font-size: calc(1vh + 1vw);
    }
    .facility-title{
        font-size: calc(1.1vh + 1.1vw);
    }
    .facility-description{
        font-size: calc(1vh + 1vw);
    }
    .prize_title{
        font-size: calc(1.1vh + 1.1vw);
    }
    .prize_date{
        font-size: calc(1.05vh + 1.05vw);
    }
    .prize_description{
        font-size: calc(1vh + 1vw);
    }
    .workshop img{
        width: 125px;
        height: 125px;
    }
    .workshop-title{
        font-size: calc(1vh + 1vw);
    }

    .contact_element{
        font-size: calc(0.9vh + 0.9vw);
    }


}

@media (max-width: 900px) {
    .prize{
        width: 100%;
    }
    .workshops{
        grid-template-columns: repeat(2, [col-start] 1fr);
    }

}

@media (max-width: 701px) {
    .grid_container{
        column-count: 1;
    }
    .contenedor{
        width: 100%;
    }
    .social_media{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (max-width: 600px), (max-height: 470px){
    .header{
        height: calc(4vh + 4vw);
    }
    #headerlogo{
        height: calc(3vh + 3vw);
        width: calc(10vh + 5vw);
    }
    .headeroptions{
        top: calc(4vh + 4vw);
    }
    #whowearediv p{
        font-size: calc(1.5vh + 1.5vw);
        margin-left: 15px;
        margin-right: 15px;
    }
    .section_title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .project .title{
        font-size: calc(1.6vh + 1.6vw);
        margin-top: 0.5vh ;
    }
    .project-description{
        font-size: calc(1.5vh + 1.5vw);
    }
    .facility-title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .facility-description{
        font-size: calc(1.5vh + 1.5vw);
    }
    .prize_title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .prize_date{
        font-size: calc(1.55vh + 1.55vw);
    }
    .prize_description{
        font-size: calc(1.5vh + 1.5vw);
    }
    .slidediv img{
        max-height: 40vh;
    }
    .workshops{
        grid-template-columns: repeat(1, [col-start] 1fr);
    }
    .workshop img{
        width: 125px;
        height: 125px;
    }
    .workshop-title{
        font-size: calc(1.4vh + 1.4vw);
    }

    .contact_element{
        font-size: calc(1.4vh + 1.4vw);
    }
    .contact_div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
