@import "slider.css";

html{
    scroll-behavior: smooth;
}


body{
    margin:0;
    background: #fff2e6;
}
.card img{
    width: 100%;
    border-radius: 8px;
}

/*Container for the header*/
.header{
    width: 100%;
    height: 7vh;
    background-color: #424242;
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
}

.headeroptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headeroptions li {
    font-size: 1.4vw;/*18*/
    margin: 10px;
    white-space: nowrap;
}

.headerimagediv{
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#headerlogo{
    height: 5vh;
    width: 13vh;
}

.header ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.header ul li{
    position: relative;
}

.header a{
    text-decoration: none;
    color: #eeeeee;
}

.menu-icon{
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menuimg{
    visibility: hidden;
    position: absolute;
    height: 4vh;
    width: 4vh;
    top: 2.5vh;
    right: 1vh;
}

/**/
.slidediv{
    width: 100%;
    height: 70vh;
}

.slidediv img{
    width: 100%;
    height: 70vh;
}

#whowearediv{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.1s;
}

#whowearediv p{
    max-width: 50%;
}
/**/

.content-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
}

.contenedor{
    background-color: #fff;
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}

.card {
    border-radius: 12px;
    padding: 3%;
    margin-bottom: 6%;
    background: #fff;
    /*-webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project .title{
    font-size: 20px;
}

.video-responsive{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.video-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}



/*Facilities*/
.facility{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}


/*Prizes section*/
.prize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Workshop section*/
.workshops{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.workshop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    max-height: 300px;
}

.workshop-title{

}

.workshop-description{

}

.workshop-icons{
    width: 200px;
    height: 200px;
}

.contact-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.1s;
    background-color: #424242;
    color: #fff2e6;
}

.social_div{

}
.socialicons{
    width: 25px;
    height:auto;
    margin: 5px;
}



.card-columns{
    column-count: 3;
}



@media (max-width: 1100px) {
    .card-columns{
        column-count: 2;
    }
    .contenedor{
        width: 100%;
    }
}

@media (max-width: 900px) {
    .slidediv{
        max-height: 55vh;
    }
    .slidediv img{
        max-height: 55vh;
    }
    .slideshow-div{
        max-height: 55vh;
    }
}

@media (max-width: 701px) {
    .card-columns{
        column-count: 1;
    }
    .contenedor{
        width: 100%;
    }
}

@media (max-width: 600px){
    .slidediv{
        max-height: 40vh;
    }
    .slidediv img{
        max-height: 40vh;
    }
    .slideshow-div{
        max-height: 40vh;
    }
}






