@import "slider.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html{
    scroll-behavior: smooth;
}


body{
    margin:0;
    background: #fff2e6;
    font-family: 'Roboto';
}
.card img{
    width: 100%;
    border-radius: 8px;
}

/*Container for the header*/
.header{
    width: 100%;
    height: 7vh;
    background-color: #424242;
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.headeroptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headeroptions li {
    font-size: 1.4vw;/*18*/
    white-space: nowrap;
    padding: 1.5vh;
}

.headeroptions li:hover{
    background-color: #696969;
}

.headerimagediv{
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#headerlogo{
    height: 5vh;
    width: 13vh;
}

.header ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.header ul li{
    position: relative;
}

.header a{
    text-decoration: none;
    color: #eeeeee;
}

.menu-icon{
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menuimg{
    display: none;
    position: absolute;
    height: 4vh;
    width: 4vh;
    top: 1.5vh;
    right: 1.5vh;
}

/**/
.slidediv{
    width: 100%;
    height: 70vh;
}

.slidediv img{
    width: 100%;
    height: 70vh;
}

.introduction_div{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.introduction_div img{
    width: 100%;
    height: 100%;
}

#whowearediv{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.1s;
}

#whowearediv p{
    max-width: 70%;
    font-weight: 300;
}
/**/

.content-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
}

.contenedor{
    background-color: #fff;
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}

.card {
    border-radius: 12px;
    padding: 3%;
    margin-bottom: 6%;
    background: #fff;
    /*-webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project .title{
    font-size: 20px;
}

.project .project-description{
    font-weight: 300;
}

.video-responsive{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.video-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Facilities*/
.facility{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
}

.facility-title{
    font-size: 23px;
    margin: 0;
    padding: 0;
}

.facility-description{
    font-weight: 300;
}

/*Prizes section*/
.prize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Workshop section*/
.workshops{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.workshop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    max-height: 300px;
}

.workshop-title{

}

.workshop-description{
    font-weight: 300;
}

.workshop-icons{
    width: 200px;
    height: 200px;
}

.contact-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.1s;
    background-color: #424242;
    color: #eeeeee;
}

.social_div{

}
.socialicons{
    width: 25px;
    height:auto;
    margin: 5px;
}

.card-columns{
    column-count: 3;
}

@media (min-width: 1101px){
    .headeroptions{
        display: flex;
    }
}

@media (max-width: 1100px) {
    .headeroptions li{
        font-size: 1.8vh;/*18*/
    }
    .card-columns{
        column-count: 2;
    }
    .contenedor{
        width: 100%;
    }
    .introduction_div{
        height: auto;
    }
}

@media (max-width: 900px) {
    .slidediv{
        max-height: 55vh;
    }
    .slidediv img{
        max-height: 55vh;
    }
    .slideshow-div{
        max-height: 55vh;
    }
    .headeroptions{
        position: absolute;
        top: 7vh;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        background-color: #424242;
        transition: 0.5s;
    }
    .headeroptions li a{
        font-size: 3vh;
    }
    #menuimg{
        display: block;
    }

}

@media (max-width: 701px) {
    .card-columns{
        column-count: 1;
    }
    .contenedor{
        width: 100%;
    }
}

@media (max-width: 600px){
    .slidediv{
        max-height: 40vh;
    }
    .slidediv img{
        max-height: 40vh;
    }
    .slideshow-div{
        max-height: 40vh;
    }
}






