* {box-sizing:border-box}

/* Slideshow container */
.slideshow-div {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
}

.slidediv{
    width: 100%;
    height: auto;
}

.slidediv img{
    width: 100%;
    height: auto;
}

/* Hide the images by default */
.slideimagediv {
    display: none;
}

/* Next & previous buttons */
.leftslidebtn, .rightslidebtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.rightslidebtn {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.leftslidebtn:hover, .rightslidebtn:hover {
    background-color: rgba(0,0,0,0.5);
}

/* Fading animation */
.fadeimageanimation {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
